.l-header {
  height: 60px;
  z-index: 10;

  .logo-wrap {
    max-width: 140px;
  }

  .header-logo {
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
  }

  .box-arrow-up-right {
    width: 10px;
  }

  .nav-link__color {
    &:link {
      color: #696969;
    }

    &:visited {
      color: #696969;
    }

    &:hover {
      color: #696969;
      opacity: 0.5;
    }

    &:active {
      color: #696969;
    }
  }
}
