.c-article-item {
  .article-message {
    height: 50%;
  }

  .border-end__remove {
    border: 0 !important;
  }

  .message-height__max {
    max-height: 117px;
  }

  .writing-time-text {
    font-size: 0.8em;
  }
}
